@import url('https://fonts.googleapis.com/css?family=Economica|Roboto+Condensed');
@import "styles/base/settings";

body {
  margin: 0%;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: lighten($medium-grey, 60);
  color: $off-black;
}

h1, h2, h3, h4, h5 {
  font-family: 'Economica', sans-serif;
  color: $off-black;
}

.navbar {
  background-color: $r-light-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  opacity: 0.9;
  color: white;
}


input {
  background-color: lighten($dark-blue, 80);
  color: $off-black;
  width: 100%;
  font-size: $s-size;
  font-family: 'Economica', sans-serif;
}


button {
  margin-top: 3px;
  height: 25px;
  border-radius: 3px;
  background-color: lighten($dark-blue, 80);
}

.form-button {
  font-family: 'Economica', sans-serif;
  font-size: $s-size;
  margin-top: 10px;
  width: 100%;
}

table {
  width: 100%;
}

.gg-plot {
  width: 90%;
  /*height: 50%;*/
}

.navbar-link:hover {
  font-family: 'Economica', sans-serif;
  color: #077CBC;
}

.ReactCollapse--collapse {
  transition: height 800ms;

}

.form-display {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: lighten($r-light-blue, 30);
  display: grid; // display: flex
  float: left;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  margin-right: 5px;
  //margin-left: 5px;
}

.page-button {
  border-radius: 10px;
  font-family: 'Economica', sans-serif;
  width: 100%;
  height: 50px;
  background-color: $medium-grey;
  border-width: 0 0 1px 0;
  color: $off-black;
  font-size: $m-size;
}

.message {
  border-radius: 10px;
  //font-family: 'Economica', sans-serif;
  //width: 100%;
  height: 100%;
  margin: 0px;
  background-color: darken($medium-grey, 10);

  //border-width: 0 0 1px 0;
  color: $off-black;
  //font-size: $m-size;
}


.csv-input {
  background: white;
  justify-content: center;
}

.page-button:hover {
  background: lighten($light-blue, 30);
}

.main-tabs {
  display: grid;
}

.form-input {
  display: grid;
}

/*@media screen and (max-width: 768px) {*/
@media screen and (max-width: 1000px) {
  .form-display {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: grid;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input {
    width: 100%;
  }
}



.markdown {
  width: 100%;
  height: 600px;
}

