@import url('https://fonts.googleapis.com/css?family=Economica|Roboto+Condensed');

body {
  margin: 0%;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #071F2F;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Economica', sans-serif;
  color: #81B7D4;
}



.form {
  height: 25px;
  display: inline-block;
  margin-bottom: 8px;
}

input {
  background-color: #071F2F;
  width: 300px;
  height: 19px;
  font-size: 16px;
  margin: 0px;
  font-family: 'Economica', sans-serif;
  color: #81B7D4;
  /*background-color: #071F2F;*/
}

.form > input {
  float: left;
}

.form > button {
  float: right;
  margin: 1px;
}

button {
  height: 25px;
  border-width: 0px;
  background-color: #071F2F;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

.Gallery {
  margin: 10px;
}

.Gallery > img {
  width: 400px;
  height: 25s0px;
  z-index: -1;
  opacity: 0.8;
  object-fit: cover;
}

.multiform {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.multiform > div > input {
  width: 40px;
  font-size: 12px;
  text-align: center;
  margin-left: 5px;
}

.multiform > div {
  float: left;
}

.task-list {
  cursor: pointer;
}

.completed-list {
  color: grey;
}

.delete-task {
  color: black;
  cursor: pointer;
}

.Stories > div {
  margin: 15px;
}

.Matrix > img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.Jobs {
  text-align: left;
}

table {
  width: 100%;
}

th {
  height: 50px;
}





.gg-plot {
  width: 90%;
  /*height: 50%;*/
}

.navbar-link:hover {
  font-family: 'Economica', sans-serif;
  color: #077CBC;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.page-button {
  font-family: 'Economica', sans-serif;
  width: 100%;
  height: 50px;
  background-color: #28343B;
  border-width: 0 0 1px 0;
  color: white;
  font-size: 1.3rem;
}

.form-display {
  background-color: #28343B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
}

.form-input {
  display: grid;
}

/*@media screen and (max-width: 768px) {*/
@media screen and (max-width: 1000px) {
  .form-display {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: grid;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input {
    width: 100%;
  }
}

.navbar {
  background-color: #131E25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  opacity: 0.9;
  /*margin-bottom: 1rem;*/
  /*background-color: #28343B;*/
  color: white;
}

.markdown {
  width: 100%;
  height: 600px;
}