@import url('https://fonts.googleapis.com/css?family=Economica|Roboto+Condensed');

body {
  margin: 0%;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #FFF8DC;
}

h1, h2, h3, h4, h5 {
  font-family: 'Economica', sans-serif;
  color: white;
}



.form {
  height: 25px;
  display: inline-block;
  margin-bottom: 8px;
}

input {
  width: 300px;
  height: 19px;
  font-size: 16px;
  margin: 1px;
}

.form > input {
  float: left;
}

.form > button {
  float: right;
  margin: 1px;
}

button {
  height: 25px;
}

.Gallery {
  margin: 10px;
}

.Gallery > img {
  width: 400px;
  height: 25s0px;
  z-index: -1;
  opacity: 0.8;
  object-fit: cover;
}

.multiform {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.multiform > div > input {
  width: 40px;
  font-size: 12px;
  text-align: center;
  margin-left: 5px;
}

.multiform > div {
  float: left;
}

.task-list {
  cursor: pointer;
}

.completed-list {
  color: grey;
}

.delete-task {
  color: black;
  cursor: pointer;
}

.Stories > div {
  margin: 15px;
}

.Matrix > img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.Jobs {
  text-align: left;
}

table {
  width: 100%;
}

th {
  height: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  opacity: 0.9;
  margin-bottom: 1rem;
  background-color: black;
  color: white;
}

.form-display {
  background-color: burlywood;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
}

.gg-plot {
  /*width: 70%;*/
  /*height: 50%;*/
}

.navbar-link:hover {
  font-family: 'Economica', sans-serif;
  background-color: cornsilk;
  color: black;
}